<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3VL133qf_MFvFTozb0SdskinRg0KLRMg</string>
	<key>GCM_SENDER_ID</key>
	<string>1017030229896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.material3Demo</string>
	<key>PROJECT_ID</key>
	<string>speaksharp-2decb</string>
	<key>STORAGE_BUCKET</key>
	<string>speaksharp-2decb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017030229896:ios:ad481cb67da090b48c443d</string>
</dict>
</plist>